[paths]
ref_path_mob = "G:/共用雲端硬碟/INT_TWN_SEA_FN_Shared_Resources/00_Temp_Internal_share/To Allen/po_pr_bot/raw/ref.xlsx"
ref_path_spt = "G:/共用雲端硬碟/INT_TWN_SEA_FN_Shared_Resources/00_Temp_Internal_share/To Allen/po_pr_bot/logic/SPTTW/ref_SPTTW.xlsx"
log_path = "./logs"

[general]
pt_YM = '''(\d{4}\/(0[1-9]|1[0-2])(\s|$))'''
pt_YMD = '''(\d{4}\/(0[1-9]|1[0-2])\/((0[1-9])|(1[0-9])|(2[0-9])|(3[0-1]))(\s|$))'''
pt_YMtoYM = '''(\d{4}\/(0[1-9]|1[0-2])[-]\d{4}\/(0[1-9]|1[0-2])(\s|$))'''
pt_YMDtoYMD = '''(\d{4}\/(0[1-9]|1[0-2])\/((0[1-9])|(1[0-9])|(2[0-9])|(3[0-1]))[-]\d{4}\/(0[1-9]|1[0-2])\/((0[1-9])|(1[0-9])|(2[0-9])|(3[0-1]))(\s|$))'''

[date_patterns]
DATE_YMD_TO_YMD = '(\d{4}/\d{2}/\d{2})\s*-\s*(\d{4}/\d{2}/\d{2})'
DATE_YM_TO_YM = '(\d{4}/\d{2})\s*-\s*(\d{4}/\d{2})'
DATE_YMD = '(\d{4}/\d{2}/\d{2})'
DATE_YM = '(\d{4}/\d{2})'

[mob]
pr_pivot_index = [
    "PR#", "Project", "Supplier", "Account code_variable", 
    "Account Name_variable", "Product code._variable", 
    "Region_c_variable", "Dep._variable", "Item Description"
]
po_pivot_index = [
    "PO#", "Project", "Supplier", "Account code_variable", 
    "Account Name_variable", "Product code._variable", 
    "Region_c_variable", "Dep._variable", "Item Description"
]
sm_cr_pivot_cols = ["Liability_variable", "Product Code"]
ga_cr_pivot_cols = ["Liability_variable", "Account Name_variable"]
pivot_value_col = "Accr. Amount_variable"

[spt]
pr_pivot_index = [
    "Account code_variable", "Account Name_variable", "Supplier", 
    "PR#", "Project", "Product code._variable", 
    "Region_c_variable", "Dep._variable"
]
po_pivot_index = [
    "Account code_variable", "Account Name_variable", "Supplier", 
    "PO#", "Project", "Product code._variable", 
    "Region_c_variable", "Dep._variable"
]
sm_cr_pivot_cols = [
    "Account code_variable", "Account Name_variable", 
    "Supplier", "Liability_variable"
]
ga_cr_pivot_cols = [
    "Account code_variable", "Account Name_variable", "Liability_variable"
]
pivot_value_col = "Accr. Amount_variable"

[spx]
ap_columns = [
    "Company", "Period", "Vendor Name", "Invoice Number", 
    "Invoice Amount", "PO_LINE_NUMBER", "PO Number", 
    "Receipt Number", "Match Type"
]
pr_ga_pivot_index = [
    "Account code", "Account Name", "Supplier", "PR#", 
    "Project", "Product code", "Region_c", "Dep."
]
pr_sm_pivot_index = [
    "Account code", "Supplier", "Account Name", 
    "PR#", "Product code", "Dep."
]
po_pivot_index = [
    "Account code", "Account Name", "Supplier", "PO#", 
    "Project", "Product code.1", "Region_c", "Dep."
]
sm_cr_pivot_cols = ["Account code", "Account Name", "Project", "Liability"]
ga_cr_pivot_cols = ["Account code", "Account Name", "Liability"]
pivot_value_col = "Accr. Amount"
exp_accounts = [650005, 650001, 610104, 630001, 650003, 610105, 620008, 600310, 610110, 620003]
bao_supplier = ["TW_寶倉物流股份有限公司", "TW_新技術供應鏈與物流股份有限公司"]
bao_categories = ["Cost of Logistics and Warehouse - Water", "Cost of Logistics and Warehouse - Electricity"]
deposit_keywords = '''(?i)押金|保證金|Deposit|找零金|定存'''
deposit_keywords_label = "摘要內有押金/保證金/Deposit/找零金"
utility_suppliers = "台灣電力|自來水|遠傳電信|中華電信|台灣大哥大|新世紀資通"
ops_for_rent = "Angel Li (李佳宣)"
ops_for_intermediary = "Kei Chen (陳謹婷)"
ops_for_other = "Judy Hsu (許淳方)"
account_rent = 520036
kiosk_suppliers = ["TW_立保科技股份有限公司", "TW_博辰科技股份有限公司"]
locker_suppliers = [
    "TW_台灣松下銷售股份有限公司", 
    "TW_皇丞創新科技股份有限公司", 
    "TW_譽經科技股份有限公司"
]
locker_columns = [
    "discount", "PO單號", "廠商", "門市", "地址", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K",
    "DA", "XA", "XB", "XC", "XD", "XE", "XF", "超出櫃體安裝費", "超出櫃體運費", "裝運費", 
    "進場月份", "驗收月份", "是否申請產編貼紙", "運費PO單號", "尾款月份"
]
expanded_contract_wb = "1psPmhZGixonVo6iX4SLhA2V4HM38iPbYN4BeFNs7WSM"
expanded_contract_range = "A:Q"
expanded_contract_range1 = "A:Y"
expanded_contract_sheet1 = "archived_contract(第一期最新合約)"
expanded_contract_sheet2 = "第二期續約案件"
expanded_contract_sheet3 = "第三期續約案件"
contract_filing_list_sheet = "歸檔清單"
contract_filing_list_range = "D,H,P"
key_for_merging_origin_and_renew_contract = ["sp_code", "address"]

[fa_accounts]
mob = [199999, 530016, 610303]
spt = [199999]
spx = [199999]

[logging]
level = "INFO"
format = "%(asctime)s %(levelname)s: %(message)s"

[credentials]
certificate_path = "./secret/credentials.json"
scopes = ["https://www.googleapis.com/auth/spreadsheets.readonly"]

# 會計科目與關鍵字的對應規則
[account_rules]
"520012" = '繳費機租賃費|印表機租金|Plastic pallet|事務機租賃|Water dispenser rental|事務機移機'
"520013" = '\^Leased\^'  # 注意: TOML 中反斜線需要轉義，所以 \^ 變成 \\^
"520014" = 'Cleaning fee|消毒|removal fee|SOC Daily necessities|保全服務費|防治|封鈔袋'
"520016" = '文具用品|破壞袋|Office Stationery|stationery and consumables|生活用品|營運用品|paper|PDA Gungrip|PDA LCD Protector'
"520017" = 'tape|膠帶|退貨組_|物流袋|膠膜'
"520018" = '門市室內標示|intermediary fee|貼紙|政府審查規費Interior Decoration application fee'
"520019" = 'PDA|滅火器工程|Office Hardware|門市小圓招|門市斜坡架|APP新安裝|監視器工程|Guardrail equipment|CCTV|門市貨架增設|門市寄件設備零件|門市智慧監控直立主機|門市智慧監控授權卡片|門市智慧監控硬碟'
"520025" = '倉庫管理費'
"520026" = '維護費|關轉工程|保養工程|維修|撤櫃|智取店撤除|APP 其他檢修|退租撤店工程|監視器改善工程|Repair|replacement|maintenance'
"520028" = 'Bottled water'
"520030" = 'Warehouse Temp Salary|派車費用'
"520033" = 'Stacker|pallet truck|Stacker rental|堆高機'
"520036" = '管理費'
"520037" = 'Shopee Xpress Temp'
"600301" = 'Employee Welfare Medical Fee'
"610104" = '計張費'
"610105" = 'APP 人數上限擴充'
"610110" = 'SPX門市發票代傳至財政部及營業稅申報檔相關服務'
"650005" = 'shipping fee|Logistics Fee'